name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            git \
            zip \
            unzip \
            openjdk-11-jdk \
            libstdc++6 \
            zlib1g-dev \
            libffi-dev \
            libssl-dev

      - name: Install Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython

      - name: Accept Android licenses & install SDK tools
        run: |
          SDK="$HOME/.buildozer/android/platform/android-sdk"

          if [ -f "$SDK/tools/bin/sdkmanager" ]; then
            SDKMANAGER="$SDK/tools/bin/sdkmanager"
          else
            SDKMANAGER="$SDK/cmdline-tools/latest/bin/sdkmanager"
          fi

          echo "Using sdkmanager at: $SDKMANAGER"

          yes | "$SDKMANAGER" --licenses
          "$SDKMANAGER" "platform-tools" "platforms;android-33" "build-tools;36.1.0"

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
