name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            zip unzip git curl wget \
            openjdk-11-jdk \
            libffi-dev libssl-dev \
            python3-dev python3-pip \
            build-essential \
            autoconf automake libtool \
            pkg-config

      - name: Install Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython

      - name: Initialize Buildozer (download SDK/NDK)
        run: |
          buildozer init || true
          buildozer android p4a -- --help || true

          - name: Accept Android licenses & install tools
        run: |
          SDK=$HOME/.buildozer/android/platform/android-sdk
          TOOLS_DIR=$(ls $SDK/cmdline-tools | sort -V | tail -n 1)

          echo "Using cmdline-tools version: $TOOLS_DIR"

          yes | $SDK/cmdline-tools/$TOOLS_DIR/bin/sdkmanager --licenses

          $SDK/cmdline-tools/$TOOLS_DIR/bin/sdkmanager \
            "platform-tools" \
            "platforms;android-33" \
            "build-tools;36.1.0"

