name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential \
            autoconf \
            automake \
            libtool \
            pkg-config \
            gettext \
            cmake \
            ccache \
            git \
            unzip \
            zip \
            openjdk-17-jdk \
            libffi-dev \
            libssl-dev \
            liblzma-dev \
            zlib1g-dev

      - name: Install Buildozer
        run: |
          python -m pip install --upgrade pip
          pip install cython==0.29.36
          pip install buildozer

      - name: Accept Android licenses
        run: |
          yes | sdkmanager --licenses || true
